<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/contactanos.css')}}">
    <title>Contact</title>
</head>
<body>
    <header>
        <h1>Clinica CamiHerrera</h1>
        <span>Pagina de contacto</span>
    </header>
      
    <div class="container blue topBotomBordersOut">
        <p>Telefono</p>
        <p>Para más información, llamar al 310-340-37-60.</p>

        <p>Correo</p>
        <p>camilaherrera112014@gmail.com</p>

        <p>Mail</p>
        <p>Clinica Herrera</p>
        <p>200 First St. Rochester, MN 55905</p>

        <a href="/Pacientes">PACIENTES</a>
        <a href="/Doctores">DOCOTRES</a>
        <a href="/Conocenos">CONOCENOS</a>
        <a href="/home">HOME</a>
        <a href="/Curioso">CURIOSO</a>
    </div>

    <footer>
        <span>Camila Herrera</span>
    </footer>
</body>
</html>