<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/curioso.css')}}">
    <title>Fact</title>
</head>
<body>
    <header>
        <h1>Clinica CamiHerrera</h1>
        <span>Curioso Pagina</span>
    </header>
      
    <div class="container blue topBotomBordersOut">
        <h1>Me gusta la natación, apesar de que la pandemia no me ha dejado practicarla mucho siempre será mi pasatiempo favorito. Otra de las cosas que me gusta hacer es estar con mi familia y amigos, no me gusta sentirme sola.</h1>
    </div>

    <div class="container blue topBotomBordersOut">
        <a href="/Pacientes">PACIENTES</a>
        <a href="/Doctores">DOCTORES</a>
        <a href="/Conocenos">CONOCENOS</a>
        <a href="/Contactanos">CONTACTANOS</a>
        <a href="/home">HOME</a>
    </div>

    <footer>
        <span>Camila Herrera</span>
    </footer>
</body>
</html>