<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/doctores.css')}}">
    <title>Doctores</title>
</head>
<body>
    

    <div id="captioned-gallery">
        <figure class="slider">
            <figure>
                <figcaption>Sandra Fernandez, cosmetologa</figcaption>
            </figure>
            <figure>
                <figcaption>Luz Dary Betancur, Cardiologa</figcaption>
            </figure>
            <figure>
                <figcaption>Maria Camila Herrera, Nefrologa</figcaption>
            </figure>
            <figure>
                <figcaption>Juan José Rico, Endocrino</figcaption>
            </figure>
            <figure>
                <figcaption>Jonatan Marin, Cirujano</figcaption>
            </figure>
            <figure>
                <figcaption>Laura Betancur, Dermatologa</figcaption>
            </figure>
            <figure>
                <figcaption>Andrea Zapata, Cirujano</figcaption>
            </figure>
                 <figure>
                <figcaption>Juan Manuel Toro, Endocrino</figcaption>
            </figure>
            <figure>
                <figcaption>Manuela Sanchez, Nefrologa</figcaption>
            </figure>
            </figure>
            <figcaption>Sonia Lopez, cosmetologa</figcaption>
            </figure>
            <figure>
                <figcaption>Lorenza Zapata, Cardiologa</figcaption>
            </figure>
            <figure>
                <figcaption>Marta Peña, Nefrologa</figcaption>
            </figure>
            <figure>
                <figcaption>Juan José Rodriguez, Endocrino</figcaption>
            </figure>
            <figure>
                <figcaption>Julian Lopez, Cirujano</figcaption>
            </figure>
            <figure>
                <figcaption>Laura Herrera, Dermatologa</figcaption>
            </figure>
            <figure>
                <figcaption>Andrea Tovar, Cirujano</figcaption>
            </figure>
                 <figure>
                <figcaption>Pedro Posada, Endocrino</figcaption>
            </figure>
            <figure>
                <figcaption>Tatiana Torres, Nefrologa</figcaption>
            </figure>
            </figure>
            <figcaption>Lucia Rico, Nefrologa</figcaption>
            </figure>
            </figure>
            <figcaption>Edilson Jaramillo, Nefrologa</figcaption>
            </figure>
            </figure>

        </figure>

    </div>

    <div class="container blue topBotomBordersOut">
        <a href="/Pacientes">PACIENTES</a>
        <a href="/Conocenos">CONOCENOS</a>
        <a href="/home">HOME</a>
        <a href="/Contactanos">CONTACTANOS</a>
        <a href="/Curioso">CURIOSO</a>
    </div>
</body>
</html>