<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/home.css')}}">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Clinica CamiHerrera</h1>
        <span>Pagina de Inicio</span>
    </header>
      
    <div class="container blue topBotomBordersOut">
        <a href="/Pacientes">PACIENTES</a>
        <a href="/Doctores">DOCTORES</a>
        <a href="/Conocenos">CONOCENOS</a>
        <a href="/Contactanos">CONTACTANOS</a>
        <a href="/Curioso">CURIOSO</a>
    </div>

    <footer>
        <span>Camila Herrera</span>
    </footer>
</body>
</html>