<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/pacientes.css')}}">
    <title>Patients</title>
</head>
<body>
    <h6>Pedro Lopez</h6>
    <h6>Gildardo Salas</h6>
    <h6>Gloria Echavarria</h6>
    <h6>Teresa Gonzalez</h6>
    <h6>Isabel Betancur</h6>
    <h6>Diana Giraldo</h6>
    <h6>Hernan Herrera</h6>
    <h6>Julio Jaramiillo</h6>
    <h6>Stiven kolo</h6>
    <h6>Lilina Rua</h6>
    <h6>Sor Patiño</h6>
    <h6>Laura Tabares</h6>
    <h6>Beatriz Saldarriaga</h6>
    <h6>Berta Zapata</h6>
    <h6>German Serna</h6>
    <h6>Marina Ramos</h6>
    <h6>Andrea ermudez</h6>
    <h6>Juan Correa</h6>
    <h6>Yuliana Perez</h6>
    <h6>Emilio Herrera</h6>
    <h6>Jason Blandon</h6>
    <h6>Lilia Ortiz</h6>
    <h6>Camila Leon</h6>
    <h6>Isabel echavarria</h6>
    <h6>Ferney Jaramillo</h6>

    <div class="container blue topBotomBordersOut">
        <a href="/Pacientes">PACIENTES</a>
        <a href="/Conocenos">CONOCENOS</a>
        <a href="/home">HOME</a>
        <a href="/Contactanos">CONTACTANOS</a>
        <a href="/Curioso">CURIOSO</a>
        <a href="/Doctores">DOCTORES</a>

    </div>
</body>
</html>